#background {
    background-image: url(../assets/images/background.png);
    filter: brightness(80%);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#container {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px 30px 30px 30px;
    border-radius: 30px;
}

#nite_register {
    width: 300px;
    padding: 0px 30px 30px 30px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#input_bar_username,
#input_bar_email,
#input_bar_password {
    border-radius: 30px;
    padding: 3% 10% 3% 8%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 120%;
}

#input_bar_username::placeholder,
#input_bar_email::placeholder,
#input_bar_password::placeholder {
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

#register_button {
    background-color: #3D4979;
    color: #303750;
    border-radius: 30px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 120%;
    padding: 3% 8% 3% 8%;
    text-align: center;
}

#register_button:focus {
    background-color: #303750;
    color: white;
    border-radius: 30px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: bold;
    font-size: 120%;
    padding: 3% 8% 3% 8%;
    text-align: center;
}

#login_area {
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

#login_link {
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
}

#login_a_link {
    color: white;
    text-decoration: underline;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
}

#login_a_link:hover {
    color: #303750;
    text-decoration: underline;
    font-family: "Noto Sans Thai", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
}

#sponsor_text {
    color: white;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 200%;
}